# Public Pen test reports
## Reports I enjoyed:
[VPN by Google One: Technical Security & Privacy Assessment (nccgroup.com)](https://research.nccgroup.com/wp-content/uploads/2021/04/NCC-Group-Public-Report-VPN-by-Google-One-v1.0.pdf)


## Resources:
[GitHub - juliocesarfort/public-pentesting-reports: A list of public penetration test reports published by several consulting firms and academic security groups.](https://github.com/juliocesarfort/public-pentesting-reports)