{% extends "base.html" %}

{% block libs %}
    {{ super() }}
    <script src="/js/particles.js"></script>
    <script src="/js/app.js" defer></script>    
    <link rel="stylesheet" href="/css/styles.css" />

{% endblock %}

{% block content %}
<div id="particles-js" class="particles-js"></div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NTQ5DLN92X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NTQ5DLN92X');
</script>


{{ super() }}
{% endblock %}


